@charset "UTF-8";
/*================================================================================
FileName: _module.scss
================================================================================*/
.spOnly {
	display: none !important;
	@include tabletP {
		display: block !important;
	}
}

.sptabOnly {
	display: none !important;
	@include tabletL {
		display: block !important;
	}
}

.pcOnly {
	display: block !important;
	@include tabletL {
		display: none !important;
	}
}

.pcTabOnly {
	display: block !important;
	@include tabletP {
		display: none !important;
	}
}

.js-fade{
  opacity: 0;
  transition: all .7s;
  transform: translateY(20px);
}

.js-fadeIn{
  opacity: 1;
  transform: translateY(0px);
}

.chkboxStyle:checked + label span:after {
	animation: checkAnime 0.1s forwards;
	animation-delay: 0.25s;
}

.radioStyle:checked + label span:after {
	animation: radioAnime 0.1s forwards;
}

.chkboxStyle:checked + label span:before {
	animation: checkboxAnime 0.5s forwards;
}
@keyframes checkboxAnime {
	0% {
		transform: scale(1);
	}

	33% {
		transform: scale(.85);
	}

	100% {
		transform: scale(1);
		border: solid #000 2px;
	}
}
@keyframes checkAnime {
	0% {
		width: 0;
		height: 0;
		border-color: #000;
		transform: translate3d(0, 0, 0) rotate(-45deg);
	}

	33% {
		width: 0;
		height: 4px;
		border-color: #000;
		transform: translate3d(0, 0, 0) rotate(-45deg);
	}

	100% {
		width: 10px;
		height: 4px;
		border-color: #000;
		transform: translate3d(0, -2px, 0) rotate(-45deg);
	}
}
@keyframes radioAnime {
	0% {
		height: 0;
		width: 0;
	}

	100% {
		height: 11px;
		width: 11px;
	}
}
