@charset "utf-8";

/*================================================================================
FileName: common.scss
================================================================================*/

//@import "bourbon";
@import "_normalize.min";
@import "_setting";
@import "_mixin";
@import "_module";
//@import "_base";

/*---------  lp  ---------*/
header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 9999;
  font-family:"Hiragino Kaku Gothic ProN";
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 40px;

  & .header_menu {
    display: flex;
    justify-content: space-between;
  }

  & .header_inner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    height: 33px;

    & a {
      text-decoration: none;
      color: black;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 9px;
    }

    & img {
      margin-left: 49.5px;
      width: 166px;

    }

    & .zerotema {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: white;
      width: 129px;
      height: 29px;
      border-radius: 22px;
      opacity: 1;
      border: 2px solid #000000;
      & img {
        margin-left: 0;
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }
    }

    & .header_menu {
      margin-right: 79px;
    }
  }
}

.fist_view {
  min-height: 100vh;
  background: url("../../assets/img/lp_bk_first_view.png");
  background-size: 100% 100%;

  & #slide_2_img {
    width: 410px;
    height: 493px;
  }

  & #slide_2_h1 {
    margin-bottom: 85px;
    font-size: 110px;
    line-height: 120px;
  }

  & #slide_3_div {
    width: 645px;
  }

  & #slide_3_img {
    width: 410px;
    height: 493px;
  }

  & #slide_3_h1 {
    margin-bottom: 85px;
    font-size: 70px;
    width: 600px;
  }

  & #slide_4_div {
    width: 600px;
    //height: 394px;
  }

  & #slide_2 {
    & .half_box {
      position: relative;
      & .plain {
        position: absolute;
        top: 274px;
        left: 1190px;
        width: 418px;
        height: 664px;
      }
    }
  }

  & #slide_4_h1 {
    font-size: 70px;
    line-height: 90px;
    width: 589px;
    height: 270px;
  }

  & #slide_4_img {
    width: 410px;
    height: 493px;
  }

  & .half_box {
    display: flex;
    padding: 15% 100px 0px 100px;
    position: relative;
    & .flex {
      display: flex;
      justify-content: center;
    }
    & .box_50 {
      width: 50%;
      padding-left: 50px;

      & h1 {
        margin: 0 auto;
        font-size: 95px;
        line-height: 120px;
        font-family: "Hiragino Mincho ProN";
        font-weight: 600;
      }

      & .mcho {
        font-family: "Hiragino Mincho ProN";
      }
      & .text {
        margin-top: 50px;
        & p {
          font-size: 16px;
        }
      }
      & p {
        margin-top: 50px;
        margin: 0px auto;
        font-size: 28px;
      }
    }

    & .phone {
      width: 388px;
      height: 514px;
    }
    & .garu {
      position: absolute;
      bottom: 5px;
      right: 150px;
    }

    & .plain {
      position: absolute;
      bottom: 400px;
      right: 30px;
    }
    & a {
      margin: 25px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 15px;
      width: 342px;
      height: 65px;
      border: 5px solid black;
      border-radius: 50px;
      background-color: white;

      & img {
        width: 40px;
        height: 40px;
        margin-left: 27.95px;
      }
    }
  }
}
.second_view {
  height: 573px;
  background-image: url("../../assets/img/lp_bk_second_view.png");
  background-size: 100% 100%;
  position: relative;
  padding-top: 79px;

  & .box_portal {
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    align-items: flex-end;
    width: 85%;
    position:absolute;
    right: 0px;
    background-image: url("../../assets/img/lp_bk_white.png");

    & .label {
      text-align: center;
      font-size: 13px;
    }

  }


  & .box_portal_inner {
    width: 25%;
    text-align: center;

    & .hiyoko {
      width: 148px;
      height: 152px;
    }

    & .usagi {
      width: 148px;
      height: 208px;
    }

    & .panda {
      width: 146px;
      height: 169px;
    }

    & .garu {
      width: 172px;
      height: 180px;
    }

    & img {
      width: 54px;
    }

  }

  & h2 {
    font-size: 31px;
    margin-top: 0px;
    margin-bottom: 79px;
    color: white;
    margin-left: 162px;
    font-family: "Hiragino Mincho ProN"
  }
}
.third_view {
  background-color: #E2FC77;
  position: relative;

  & .hiyoko {
    position: absolute;
    top: 1470px;
    left: 938px;
    width: 186px;
    height: 191px;
  }

  & .usagi {
    position: absolute;
    width: 196px;
    height: 276px;
    top: 500px;
    left: 919px;
    z-index: 200;
  }

  & .garu {
    position: absolute;
    top: 950px;
    left: 114px;
    width: 244px;
    height: 256px;

  }

  & .trouble_1 {
    position: absolute;
    left: 857px;
    width: 319px;
    height: 241px;
    top: 250px;
    z-index: 200;
  }

  & .trouble_2 {
    position: absolute;
    left: 201px;
    width: 316px;
    height: 237px;
    top: 740px;
    z-index: 200;
  }

  & .trouble_3 {
    position: absolute;
    right: 0px;
    width: 337px;
    height: 286px;
    top: 1150px;
    z-index: 200;
  }

  & .text_box1 {
    position: absolute;
    top: 420px;
    left: 408px;

    & h3 {
      margin: 0;
      font-size: 41px;
      line-height: 60px;

      & span {
        padding: 10px;
        background-color: white;
      }
    }

    & p {
      font-size: 16px;
      line-height: 30px;
      font-family: "HIragino  Kaku Gothic Std";
      font-weight: 500;

      & span {
        padding: 10px;
        height: 110%;
        background-color: white;
      }
    }
  }

  & .text_box2 {
    position: absolute;
    top: 900px;
    left: 390px;

    & h3 {
      margin: 0;
      font-size: 41px;
      line-height: 60px;

      & span {
        padding: 10px;
        background-color: white;
      }
    }

    & p {
      font-size: 16px;
      line-height: 30px;
      font-family: "HIragino  Kaku Gothic Std";
      font-weight: 500;

      & span {
        padding: 10px;
        height: 110%;
        background-color: white;
      }
    }
  }

  & .text_box3 {
    position: absolute;
    left: 554px;
    top: 1300px;


    & h3 {
      margin: 0;
      font-size: 41px;
      line-height: 60px;

      & span {
        padding: 10px;
        background-color: white;
      }
    }

    & p {
      font-size: 16px;
      line-height: 30px;
      font-family: "HIragino  Kaku Gothic Std";
      font-weight: 500;

      & span {
        padding: 10px;
        height: 110%;
        background-color: white;
      }
    }


  }


  & .first_img {
    width: 100%;
  }

  & .next_img {
    margin-top: -210px;
  }

  & .next2_img {
    margin-top: -283px;
    margin-bottom: 50.54px;

  }

  & .first_img {
    width: 100%;
    min-height: 691px;
    line-height: 0;
  }

  & .next_img {
    width: 100%;
    min-height: 691px;
    line-height: 0;
  }

  & .next2_img {
    width: 100%;
    min-height: 691px;
    line-height: 0;
  }

  & .customer_acquisition_img {
    width: 119px;
    height: 34px;
    min-height: 51px;
    margin-left: 63px;
    margin-top: 63px;
  }

  & h2 {
    font-size: 48px;
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: -130px;
    font-family: "Hiragino Mincho ProN";
    font-weight:400;
  }

  & .text_content {
    font-size: 28px;
    margin:0 auto 93px auto;
    width: 45%;
    padding-bottom: 90px;

    & p {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}

.fourth_view {
  background-color: white;
  border-bottom: 7px solid;
  position: relative;
  box-sizing: border-box;

  & .fourth_text_content {
    width: 590px;
    margin: 118px auto 0 auto;

    & p {
      font-size: 21px;
      line-height: 40px;
    }
  }

  & .fourth_text_content2{
    width: 590px;
    font-size: 30px;
    margin: 40px auto 0 auto;

    & p {
      font-size: 21px;
      line-height: 40px;
    }
  }

  & .fourth_img {
    width: 389px;
    height: 77px;
    margin: 119px auto 167px auto;
    text-align: center;

    & img {
      width: 100%;
    }
  }
  & .usagi {
    position: absolute;
    bottom: -6px;
    left: 252px;
    width: 76px;
    height: 108px;
  }

  & .car {
    position: absolute;
    bottom: -7px;
    left: 446px;
    width: 96px;
    height: 66px;
  }

  & .hiyoko {
    position: absolute;
    bottom: -6px;
    left: 554px;
    width: 72px;
    height: 74px;
  }

  & .bike {
    position: absolute;
    bottom: -6px;
    left: 787px;
    width: 95px;
    height: 69px;
  }

  & .panda {
    position: absolute;
    bottom: 30px;
    left: 769px;
    width: 84px;
    height: 97px;
  }

  & .garu {
    position: absolute;
    bottom: 60px;
    left: 903px;
    width: 103px;
    height: 108px;
  }

  & .plain {
    position: absolute;
    bottom: 200px;
    right: 100px;
    width: 106px;
    height: 69px;
  }
}
.fifth_view {
  background-color: #E2FC77;
  height: 320px;
  padding-top: 125px;

  & .fifth_text_content {
    width: 80%;
    font-size: 21px;
    text-align: center;
    margin: 0px auto 0 auto;
  }

  & a {
    margin: 52px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: 341px;
    height: 66px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;

    & img {
      width: 40px;
      height: 40px;
      margin-right: 27.95px;
    }
  }
}
.sixth_view {
  background-color: white;

  & .merit_img {
    margin-left: 63px;
    margin-top: 45px;
    width: 176px;
    height: 41px;
  }

  & h3 {
    font-size: 48px;
    margin-top: 0;
    margin-left: 78px;
    margin-bottom: 63px;
    font-family: "Hiragino Mincho ProN";
  }

  & .sixth_text_content {
    margin-left: 137px;

    & p {
      font-size: 16px;
      line-height: 40px;
    }
  }

  & .img_box {
    text-align: center;

    & .red_text {
      color: #F52432;
      font-size: 28px;
      font-weight: bold;
      margin: 32px auto 35px auto;
    }

    & .triangle {
      margin-bottom: 29px;
      width: 60px;
      height: 74px;
    }


  }

  & .img_box_mgl {
    margin-left: 198px;
    & .before_img {
      margin-top: 100px;
      width: 882px;
      height: 401px;
    }

    & .after_img {
      width: 966px;
      height: 386px;
    }
  }


  & .inner_box
  {
    display: flex;
    margin:  105px 121px;
  }
  & .left_box {
    width: 50%;

    & .merit_box {
      display: flex;

      & img {
        width: 79px;
        height: 91px;
      }

      & p {
        font-size: 30px;
        margin-top :0;
        margin-left: 23px;
        line-height: 50px;
        font-family: "HIragino  Kaku Gothic Std";
        font-weight: 500;
        margin-bottom: 20px;
      }
    }

    & .point_text {
      margin-left: 100px;
      font-size: 12px;
      margin-bottom: 30px;
      line-height: 30px;
    }

    & .sphone {
      margin-left: 80px;
      width: 80%;
    }
  }

  & .right_box {
    width: 50%;

    & .merit_box {
      display: flex;
      padding-left: 40px;

      & img {
        width: 79px;
        height: 91px;
      }

      & p {
        font-size: 30px;
        margin-top :0;
        margin-left: 23px;
        line-height: 50px;
        font-family: "HIragino  Kaku Gothic Std";
        font-weight: 500;
        margin-bottom: 20px;
      }
    }

    & .point_text {
      margin-left: 100px;
      font-size: 12px;
      margin-bottom: 30px;
      line-height: 30px;
    }

    & .sphone {
      margin-left: 120px;
      width: 80%;
    }
  }

  & .recommend_content {
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      margin-left: 20px;
      font-size: 21px;
    }
  }

  & .recommend_button {
    margin-bottom: 128px;
    & a {
      margin: 52px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 20px;
      width: 341px;
      height: 63px;
      border: 5px solid black;
      border-radius: 50px;
      background-color: #E2FC77;

      & img {
        width: 40px;
        height: 40px;
        margin-right: 27.95px;
      }
    }
  }
}

.seventh_view {
  background-color: #E2FC77;
  padding: 110px 100px;

  & .inner_box {
    background-color: white;
    padding-bottom: 107px;

    & .img_box_service {
      margin: 0 auto;
      padding: 100px 0 0 0;
      width: 198px;
      height: 58px;

      & .service_introduction {
        width: 198px;
        height: 58px;
      }
    }

    & .img_box {
      margin: 0 auto;
      padding: 100px 0 0 0;
      width: 415px;
      height: 150px;

      & img {
        width: 277px;
        height: 134px;
      }


    }

    & .how_to_start {
      display: flex;
      justify-content: center;
      font-size: 49px;
      font-family: "Hiragino Mincho ProN";

      & p {
        margin: 20px 0 20px 0;
      }
    }

    & .step {
      display: flex;
      margin-bottom: 50px;
      justify-content: center;
      z-index: 100;
      padding-left: 145px;
      padding-right: 145px;

      & .img_box {
        width: 30%;
        position: relative;

        & p {
          font-size: 12px;
          position: absolute;
          bottom: 40px;
          left: 110px;

          &.last {
            left: 130px;
          }
        }
      }


    }
    & .start_free {
      text-align: center;
      margin-bottom: 100px;

      & img {
        width: 50%;
      }
    }

    & .plan_detail {
      display: flex;
      justify-content: space-around;
      padding-right: 88px;
      padding-left: 88px;
      & .plan_box {
        width: 23%;
        display: flex;
        justify-content: center;

        & img {
          width: 100%;
        }
      }
    }
  }

  & .function {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 50px;
    align-content: center;

    & img {
      width: 50%;
      padding: 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  }
  & .recommend_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    & p {
      margin-left: 20px;
      font-size: 21px;
      font-family: "HIragino  Kaku Gothic Std";
      font-weight: 500;
    }
  }

  & .recommend_button {
    & a {
      margin: 52px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 20px;
      width: 341px;
      height: 64px;
      border: 5px solid black;
      border-radius: 50px;
      background-color: #E2FC77;

      & img {
        width: 40px;
        height: 40px;
        margin-right: 27.95px;
      }
    }
  }

  & .box_two {
    padding: 0px 100px 100px 100px;
    display: flex;


    & .left_box {
      width: 55%;
      margin-right: 50px;

      & .medium_text {
        line-height: 65px;
        font-size: 50px;
        margin-top: 0;
      }

      & p {
        line-height: 50px;
        font-size: 20px;
      }
    }

    & .right_box {
      width: 45%;
      display: flex;
      justify-content: center;

      & img {
        max-width: 440px;
        max-height: 440px;
      }
    }
  }
}

.eighth_view {
  padding: 50px 10%;
  background-color: white;

  & .img_box {
    & p {
      font-size: 48px;
      margin-top: 0;
      margin-left: 10px;
      font-family: "Hiragino Mincho ProN";
    }

    & img {
      width: 65px;
      height: 28px;
    }
  }
  .image_content_box {
    display: flex;
    margin-bottom: 100px;

    .left-55 {
      width: 55%;
      justify-content: end;

      & h2 {
        font-size: 35px;
        margin-top: 0;
        line-height: 50px;
        & span {
          padding: 10px;
          background-color: #E2FC77;
        }
      }

      & .back_black {;
        color: white;
        font-size: 16px;
        & span{
          padding: 5px 8px;
          background-color: black;
        }
      }

      & .example_text {
        font-size: 16px;
        line-height: 35px;
      }
    }

    .right-45 {
      width: 45%;
      display: flex;
      justify-content: flex-end;

      & img {
        width: 90%;
      }
    }

    .left-45 {
      width: 45%;
      display: flex;
      justify-content: center;

      & img {
        width: 90%;
      }
    }

    .right-55 {
      width: 55%;



      & h2 {
        font-size: 35px;
        margin-top: 0;
        line-height: 50px;
        font-family: "HIragino  Kaku Gothic Std";
        font-weight: 500;

        & span {
          padding: 10px;
          background-color: #E2FC77;
        }
      }

      & .back_black {;
        color: white;
        font-size: 16px;
        & span{
          padding: 5px 8px;
          background-color: black;
        }
      }

      & .example_text {
        font-size: 16px;
        line-height: 35px;
      }
    }
  }
}

.ninth_view {
  display: flex;
  background-color: #E2FC77;
  min-height: 678px;
  padding: 100px 10%;
  justify-content: space-between;

  & .half_box {
    width: 44%;
    position: relative;

    & p {
      font-size: 16px;
      line-height: 35px;
      font-family: "HIragino  Kaku Gothic Std";
      font-weight: 500;
    }

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 50px;
      width: 342px;
      height: 64px;
      border: 5px solid black;
      border-radius: 50px;
      background-color: white;
      margin: 100px auto 0 auto;

      & p {
        font-size: 20px;

      }
      & img {
        width: 40px;
        height: 40px;
        margin-right: 27.95px;
      }
    }

    & .garu{
      position: absolute;
      top: 144px;
      left: 178px;
      width: 161px;
      height: 169px;
    }

    & .plain {
      position: absolute;
      top: 6px;
      left: 200px;
      width: 165px;
      height: 108px;
    }

    & .panda {
      position: absolute;
      top: 39px;
      left: 20px;
      width: 130px;
      height: 151px;
    }

    & .usagi {
      position: absolute;
      top: 228px;
      left: 20px;
      width: 119px;
      height: 168px;
    }

    & .bike {
      position: absolute;
      top: 350px;
      left: 191px;
      width: 149px;
      height: 107px;
    }

    & .hiyoko {
      position: absolute;
      top: 274px;
      left: 352px;
      width: 113px;
      height: 116px;
    }

    & .car {
      position: absolute;
      top: 138px;
      left: 355px;
      width: 149px;
      height: 103px;

    }
  }
}

.tenth_view {
  height: 400px;
  background-color: white;

  & div {
    width: 338px;
    height: 67px;
    margin: 80px auto;

    &.text {
      width: 550px;
      text-align: center;
    }

    & p {
      font-size: 27px;
    }
  }
}

.mgb-250{
  margin-bottom: 250px;
}

.mgt-900 {
  margin-top: 500px;
}

.pd-50 {
  padding: 80px 0 80px 50px;
  padding-right: 0px;
}