@media (max-width: 1025px) {
    .pc-1025 {
        display: none !important;
    }

    .sp-1025 {
        display: block !important;
    }

    header .header_inner {
        a {
            font-size: 11px;
            margin: 0 5px;
        }

        .header_menu {
            margin-right: 20px;
        }
    }

    .fifth_view .button {
        margin: 26px auto 50px auto;
        max-width: 400px;

        p {
            margin-top: 16px;
            margin-bottom: 14px;
            font-size: 20px;
        }
    }

    /*******************************************/

    .sixth_view {
        .merit_img,
        h3,
        .sixth_text_content {
            margin-left: 0;
        }

        .recommend_button .button {
            margin: 26px auto 50px auto;
            max-width: 400px;

            p {
                margin-top: 16px;
                margin-bottom: 14px;
                font-size: 20px;
            }
        }
    }

    /*******************************************/

    .seventh_view {
        .inner_box {
            margin: 170px 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .recommend_button .button {
            margin: 26px auto 50px auto;
            max-width: 400px;

            p {
                margin-top: 16px;
                margin-bottom: 14px;
                font-size: 20px;
            }
        }
    }

    /*******************************************/

    .eighth_view {
        .example-wrapper {
            margin-right: 40px;
            margin-left: 40px;
        }

        .example_img,
        .img_box p {
            margin-left: 0;
        }

        .case-title {
            font-size: 27px;
            margin-bottom: 15px;
        }

        .case-company {
            margin-bottom: 15px;
        }

        .case-text {
            line-height: 1.78;
            font-size: 15px;
        }
    }

    /*******************************************/

    .ninth_view {
        .half_box {
            display: block;
            margin: 0 40px;
        }

        .half-img {
            /* margin:55px 39px 53px 51px; */
            margin: 55px auto 53px auto;
            width: 50%;
        }

        .half_content {
            /* margin-left:62px;
    margin-right:37px; */
            max-width: 600px;
            margin: 0 auto;
        }

        .half_box {
            p {
                font-size: 14px;
                line-height: 22px;
            }

            .button {
                margin: 26px auto 50px auto;
                max-width: 400px;

                p {
                    margin-top: 16px;
                    margin-bottom: 14px;
                    font-size: 20px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
    .pcTabOnly {
        display: none !important;
    }
    .spOnly {
        display: block !important;
    }
}