@media (max-width: 1025px) {
    .header {
        z-index: 9999;
        font-family: 'Hiragino Kaku Gothic ProN';
        font-weight: 600;
        display: flex;
        flex-direction: row !important;
        padding-top: 0;
        padding-bottom: 0;
        height: 100vh;
        .header_inner {
            background-image: url(../img/lp_bk_first_view.png);
            background-color: #fff;
            background-position:  left top;
            background-repeat: no-repeat;
            background-size: cover;
            transform: translateX(110%);
            flex-direction: column;
            transition: 0.5s;
            width: 100% !important;
            padding-top: 100px;
            padding-bottom: 58px;
            padding-left: 50px;
            justify-content: flex-start;
            &.open {
                transform: none;
            }
            
            img {
                width: 50%;
                margin-left: 0;
                align-self: start;
            }
            .header_top {
                img {
                    width: 50%;
                }
            }
            .header_menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: start;
                a {
                    background-color: white;
                    display: inline-block;
                    margin-top: 50px;
                    margin-right: 0;
                    width: 380px;
                    font-size: 50px;
                }
                .zerotema_container {
                    margin: 50% 40%;
                    // position: absolute;
                    // bottom: -50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                    width: 100%;
                    p {
                        width: 100%;
                        font-size: 12px;
                        text-align: center;
                    }
                    .zerotema {
                        display: -ms-flexbox;
                        width: 100%;
                        height: 60px;
                    }
                }
            }
        }
        .hamburger {
            position: fixed;
            top: 8%;
            right: 10%;
            display: flex;
            flex-direction: column;
            z-index: 100;
            span + span {
                margin-top: 12px;
            }
            span {
                width: 40px;
                display: inline-block;
                border-top: 2px black solid;
            }
        }
    }

    .fifth_view .button {
        margin: 26px auto 50px auto;
        max-width: 400px;

        p {
            margin-top: 16px;
            margin-bottom: 14px;
            font-size: 20px;
        }
    }

    /*******************************************/

    .sixth_view {
        .merit_img,
        h3,
        .sixth_text_content {
            margin-left: 0;
        }

        .recommend_button .button {
            margin: 26px auto 50px auto;
            max-width: 400px;

            p {
                margin-top: 16px;
                margin-bottom: 14px;
                font-size: 20px;
            }
        }
    }

    /*******************************************/

    .seventh_view {
        .inner_box {
            margin: 170px 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .recommend_button .button {
            margin: 26px auto 50px auto;
            max-width: 400px;

            p {
                margin-top: 16px;
                margin-bottom: 14px;
                font-size: 20px;
            }
        }
    }

    /*******************************************/

    .eighth_view {
        .example-wrapper {
            margin-right: 40px;
            margin-left: 40px;
        }

        .example_img,
        .img_box p {
            margin-left: 0;
        }

        .case-title {
            font-size: 27px;
            margin-bottom: 15px;
        }

        .case-company {
            margin-bottom: 15px;
        }

        .case-text {
            line-height: 1.78;
            font-size: 15px;
        }
    }

    /*******************************************/

    .ninth_view {
        .half_box {
            display: block;
            margin: 0 40px;
        }

        .half-img {
            /* margin:55px 39px 53px 51px; */
            margin: 55px auto 53px auto;
            width: 50%;
        }

        .half_content {
            /* margin-left:62px;
    margin-right:37px; */
            max-width: 600px;
            margin: 0 auto;
        }

        .half_box {
            p {
                font-size: 14px;
                line-height: 22px;
            }

            .button {
                margin: 26px auto 50px auto;
                max-width: 400px;

                p {
                    margin-top: 16px;
                    margin-bottom: 14px;
                    font-size: 20px;
                }
            }
        }
    }
}